:root {
  --base: #000000;
  --text: #ffffff;
}

html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  background-color: var(--base);
  color: var(--text);

  overflow: hidden;
}