@font-face {
  font-family: 'corleone';
  src: url('./metadata/font/corleone.ttf');
}
@font-face {
  font-family: 'corleoneDue';
  src: url('./metadata/font/corleoneDue.ttf');
}
@font-face {
  font-family: 'hardsign';
  src: url('./metadata/font/hardsignLayered.ttf');
}
@font-face {
  font-family: 'heird';
  src: url('./metadata/font/heidardemoRegular.otf');
}

:root {
  --background: rgba(28, 27, 23, 1.0);
  --backgroundTranslucent: rgba(28, 27, 23, 0.69);
  --text: rgba(255, 255, 255, 1.0);
  --primary: rgba(235, 174, 94, 1.0);
  --primaryTranslucent: rgba(235, 174, 94, 0.69);
  --secondary: rgba(133,76,21, 1.0);
  --secondaryTranslucent: rgba(133,76,21, 0.8);
  --accent: rgba(190, 35, 21, 1.0);
  --accentTranslucent: rgba(190, 35, 21, 0.69);
}

.goldText {
  color: var(--primary) !important;
}

html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  font-family: 'hardsign';
  background-color: var(--background);
  color: var(--text);

  overflow: hidden;
}

#landingPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#closeLandingBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 1.6rem;
  font-family: 'hardsign';
  letter-spacing: 3px;
  color: var(--text);
  background-color: var(--background);
  padding: 8px 16px;
  border: 3px solid var(--primary);
  cursor: pointer;
}


#mainPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px;
}

#mainPage header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainPage header span {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
  text-align: center;
}


#mainPage main {
  width: 100%;
  height: calc(100% - 170px);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 96px;
}

#fbdMainImg {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -24px;
  border: 3px solid var(--primary);
  padding: 16px;
  background-color: var(--background);
}

#socials {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#socials button {
  font-family: 'hardsign';
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: var(--text);
  background-color: var(--background);
  padding: 8px 16px;
  border: 3px solid var(--primary);
}
#buyBtn {
  color: var(--text) !important;
  background-color: rgba(34, 44, 44, 1.0) !important;
  border: 3px solid rgba(115, 139, 140, 1.0) !important;
}


#mainPage footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contractContainer {
  width: 100%;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background-color: var(--background);
  border: 3px solid var(--primary);
}
#contractContainer span {
  font-size: 1.4rem;
  letter-spacing: 2px;
  white-space: nowrap;
}
#contractContainer button {
  font-family: 'hardsign';
  font-size: 1.5rem;
  letter-spacing: 3px;
  white-space: nowrap;

  background-color: var(--background);
  border: none;
  color: var(--primary);
  cursor: pointer;
}


@media screen and (max-width: 736px) {
  
  #closeLandingBtn {
    font-size: 1.2rem;
  }


  #mainPage header {
    margin-top: 12px;
    white-space: wrap;
  }
  #mainPage header span {
    margin: 0;
    font-size: 3rem;
  }


  #mainPage main {
    height: calc(100% - 200px);
    margin-top: 125px;
  }

  #fbdMainImg {
    width: 240px;
    margin-top: -64px;
    border: 3px solid var(--primary);
    padding: 12px;
  }


  #socials {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px; 
  }
  #socials button {
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 6px 12px;
  }


  #contractContainer {
    gap: 12px;
    padding: 12px;
    justify-content: center;
  }
  #contractContainer span {
    font-size: 1rem;
    white-space: wrap;
    word-break: break-all;
    text-align: start;
  }
  #contractContainer button {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

}